.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: black;
    color: white;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: white;
}

